body{
    height: 1000px;
    display: flex;
    flex-direction: column;
    
}



/* Home page body */

nav{
    width: 100%;
    height: 85px;
    position:fixed;
    margin: 0;
    
    z-index: 2000;
    align-items:center;
}
.innerNav{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    background-color: rgba(245, 244, 252, 0.986);
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    border-bottom: 1px solid black;
}
.logo{
    width: 60px;
    height: 60px;
    margin: 0;
}
.logo:hover{
    transition: 0.3s ease;
    transform: scale(1.1,1.1);
}
.logo-nav-name{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    p{
        margin: 0px;
    }
    img{
        width:40px;
        height: 40px;
        margin-left: 5px;
    }
}
.dropdown{
    background-color: rgb(252, 244, 244);
    border: 1px solid wheat;
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: -160px;
    left: 10px;
    z-index: 1000;

    display: none;
}
 .profile-img:hover + .dropdown{
    display: block;
}

.profile-img{
    cursor: pointer;
}


.nav-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px;
    

}

ul{
    
    padding: 10PX 25px 10px 25px;
    border-radius: 20px;
    box-shadow: 0.1px 0.1px 10px rgba(0, 0, 0, 0.103);
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(232, 252, 255, 0.178);
    width:60%;
    
    button{
        border: none;
        padding: 10px 15px 10px 15px;
        border-radius: 10px;
        font-weight: bold;
        color: gray;
        background-color:rgba(232, 252, 255, 0.178);
        
    }
    
}
button:hover{
        color: black;
        cursor: pointer;
        background-color: rgba(230, 230, 230, 0.589);
        
}
button:checked{
    color: black;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}

/*End of navbar*/

/*Main section*/
main{
    
    width: 100%;
    background-color: rgb(246, 252, 252);
    height: 100%;
    margin-top: 85px;
}
.overView{
 padding: 20px;
 p{
    margin: 0px;
    font-weight: bold;
    color: gray
 }
 h1{
    margin: 0px;
}
}

.main-bord{
    display: grid;
    grid-template-columns: 4fr 1.2fr;
    gap: 20px;   
    padding: 10px;
}
@media (max-width: 1100px){
    .main-bord{
        grid-template-columns: 1fr;
    }
}


.section-grid{
    color: white;
    display: flex;
    background:linear-gradient(45deg , rgb(1, 9, 54) 10%, rgba(0, 27, 145, 0.774));
    flex-direction: column;
    padding: 20px;
    min-height: 300px;
    
    border-radius: 30px;
    
}
.Overview-panal{
    display:flex;
    flex-direction: row;
    
    height: 100px;
    width: 500px;
    align-items: center;
    padding: 10px 40px 10px 40px;
    
    p{
        margin: 0px;
    }
    
}
.div1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(43, 45, 82);
    border-radius: 20px;
    img{
        height: 60px;
        width: 60px;
        padding: 10px;
    }
    margin-right: 10px;
}
.div2{
    p, h5{
      margin: 0px;
    }
    h5{
        color: gray;
    }
    p{
      font-weight: bold;
      font-size: 30px;  
    }
}
.Overview-panal2{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    justify-content: space-around;
    gap: 20px;
    padding: 20px 40px 20px 40px;
    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0px;
        width: 150px;
        height: 40px;
        background-color: rgba(155, 155, 156, 0.274);
        border-radius: 20px;
        
        padding: 10px;
        padding-left: 20px;
        border: 1px solid rgb(177, 176, 176);
    }
    h3,p{
        margin: 0px;
        font-size: 13px;
        color: rgb(192, 255, 255);
    }
    h3{
        font-weight: bold;
        font-size: 20px;
        color: white;
    }
}
.buttons-in-grid{
    padding: 20px 40px 20px 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
   
    gap: 20px;
    button{
        padding: 10px;
        font-weight: bold;
        background-color: rgba(2, 2, 97, 0.089);
        color: white;
        border:  1px solid gray;
        border-radius: 10px;
        width: 220px;
        height: 50px;
        
    }
    .btn1{
    background-color: white;
    color: black;       
}
}

    .finance-card{
    
    background-color: white;
    border-radius: 30px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.finance-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.finance-icon{
    width: 45px;
    height: 45px;
    background-color: rgba(0, 200, 150, 0.15);
    color: rgb(0, 150, 120);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.finance-title{
    font-size: 11px;
    font-weight: bold;
    color: gray;
    letter-spacing: 1px;
}

.finance-label{
    font-size: 14px;
    color: gray;
    margin: 0;
}

.finance-amount{
    font-size: 32px;
    font-weight: bold;
    margin: 5px 0;
}

.finance-date{
    font-size: 12px;
    color: gray;
}

.finance-date span{
    color: black;
    font-weight: bold;
}

.finance-btn{
    margin-top: 25px;
    padding: 15px;
    background-color: rgb(0, 160, 120);
    color: white;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
}

.finance-btn:hover{
    background-color: rgb(0, 140, 100);
}


.Event{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 10px;
}



.Scadual,
.Assignment,
.Performance,
.News{
    background-color: white;
    border-radius: 30px;
    border: 1px solid rgb(220, 220, 220);
    padding: 30px;
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(200px, 1fr));
}
.Scadual h3{
    margin-bottom: 15px;
}

.schedule-item{
    
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(200px, 1fr));
    border-left: 3px solid blue;
    padding-left: 10px;
    margin-bottom: 15px;
}

.schedule-item .time{
    font-size: 12px;
    color: gray;
    font-weight: bold;
}

.schedule-item .subject{
    font-weight: bolder;
}

.schedule-item .room{
    font-size: 12px;
    color: gray;
}

.Assignment{
     background-color: rgba(255, 200, 100, 0.15);
     .assignment-item{
        background-color: rgb(255, 255, 255);
        
        border-radius: 15px;
        margin-bottom: 10px;
    }
    h3{
        color: rgb(114, 34, 34);
    }
}

.assignment-item{
    height: 70px;
    padding: 10px 20px 10px 20px;
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(200px, 1fr));
    border: 1px solid rgba(255, 166, 0, 0.24);
    font-weight: bold;
    margin: 0px;
}


.assignment-item .due{
    font-size: 12px;
    color: brown;
    background-color: rgba(247, 176, 129, 0.459);
    width: 80px;
    height: 15px;
    text-align: center;
    padding: 2px;
    font-weight: bold;
    border-radius: 10px;
}
.Performance{
    background-color: rgba(0, 255, 255, 0.075);
    h3{
        color:  rgba(2, 124, 124, 0.959) ;
    }
    p{
        margin:0px;
        font-size: 13px;
        color: gray;
        margin-left: 10px;
        
       }
}
.Performance-grid{
    h3{
        margin:5px;
    }

}
.progress-circle{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 8px solid rgba(0, 0, 255, 0.2);
    border-left: 8px solid blue;
    border-top: 8px solid blue;
    border-bottom: 8px solid blue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 10px;
}
.News{
    background-color: rgba(0, 255, 0, 0.13);
    h3{
        color: rgb(1, 92, 1);
    }
}
.news-item{
    background-color: rgba(0, 255, 0, 0.055);
    border: 1px solid rgba(0, 255, 0, 0.2);
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    h2{
        background-color: rgb(245, 245, 245);
        margin-right: 10px;
        padding: 5px 5px 5px 5px;
        height: 30px;
        width: 45px;
        font-size: 18px;
        text-align: center;
        border-radius: 13px;
        
    }
    
}

.news-item p{
    font-weight: bold;
    font-size: 14px;
    margin: 0px;
    padding-top: 10px;
}

.news-item span{
    font-size: 11px;
    color: gray;
}
