
/* Home page body */

nav{
    width: 100%;
    height: 85px;
    position:fixed;
    margin: 0;
    
    z-index: 2000;
    align-items:center;
}
.innerNav{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    background-color: rgba(245, 244, 252, 0.986);
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    border-bottom: 1px solid black;
}
.logo{
    width: 60px;
    height: 60px;
    margin: 0;
}
.logo:hover{
    transition: 0.3s ease;
    transform: scale(1.1,1.1);
}
.logo-nav-name{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    p{
        margin: 0px;
    }
    img{
        width:40px;
        height: 40px;
        margin-left: 5px;
    }
}
.dropdown{
    background-color: rgb(252, 244, 244);
    border: none;
    border-radius: 10px;
    width: 140px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.205);
    position: absolute;
    bottom: -10px;
    left: 10px;
    z-index: 1000;
    display: none;
    button{
        color: red;
        width: 100%;
        background-color: white;
        text-align: center;
        text-align: left;
        border-radius: 10px;
        border: none;
        padding: 10px 10px 25px 10px;
        height: 30px;
        font-size: 13px;
        cursor: pointer;
    }
    button:hover{
        background-color: rgba(235, 233, 233, 0.123);
    }
}
 




.nav-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px;
}


.nav-section ul{
    padding: 10PX 25px 10px 25px;
    border-radius: 20px;
    box-shadow: 0.1px 0.1px 10px rgba(0, 0, 0, 0.103);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(232, 252, 255, 0.178);
    width:60%;
}


ul{
    button{
        border: none;
        padding: 10px 15px 10px 15px;
        border-radius: 10px;
        font-weight: bold;
        color: gray;
        background-color:rgba(232, 252, 255, 0.178);
        
    }
    button:hover{
        color: black;
        cursor: pointer;
        background-color: rgba(230, 230, 230, 0.589);
    }
    button:checked{
        color: black;
        cursor: pointer;
        background-color: rgb(255, 255, 255);
    }
}


/*End of navbar*/


.footer {
  background: #0f172a;
  color: #fff;
  padding: 40px 20px 20px;
  
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  max-width: 1200px;
  margin: auto;
}

/* Make school info take 2 columns */
.school {
  grid-column: span 2;
}

.footer-box h3,
.footer-box h4 {
  margin-bottom: 10px;
}

.footer-box ul {
  list-style: none;
  padding: 0;
}

.footer-box ul li {
  margin-bottom: 8px;
}

.footer-box a {
  color: #cbd5f5;
  text-decoration: none;
}

.footer-box a:hover {
  color: #38bdf8;
}

/* Social links */
.socials a {
  margin-right: 10px;
  font-weight: bold;
}

/* Bottom copyright (full width) */
.footer-bottom {
  grid-column: 1 / -1;
  text-align: center;
  border-top: 1px solid #334155;
  padding-top: 15px;
  font-size: 14px;
  margin-top: 10px;
}
